@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 12% auto;
  /* grid-template-rows: 51px 30%; */
  grid-template-rows: auto 50px;
  grid-template-areas: 
    "sidebar right"
    "footer footer";
}

a {
  text-decoration: none;
}
#logo {
  padding: 15px;
  margin-left: 15px;
  text-align: center;
  font-weight: bold;
  background-color: #f3f1c7;
  color: #298383;
  display: inline-block;
}
ul {
  list-style-type: none;
  float: right;
}
ul li {
  display: inline;
  padding: 15px;
}
ul li a {
  color: #fff;
}
header {
  background-color: #41c7c7;
  display: grid;
  grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}
section#hero {
  background-color: #36adad;
  padding: 2em;
  border-top: 5px solid #2ea0a0;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
#content h1 {
  text-transform: uppercase;
  color: #fffbc5;
}
#content p {
  color: #fff;
}
img {
  max-width: 100%;
  background-size: cover;
  margin: 0 auto;
}
#mountain {
  border-radius: 50%;
  /* width: 200px; */
  /* height: 200px; */
}
.sidebar {
  grid-area: sidebar;
  background-color: #1c9090;
  color: #fff;
  padding: 1em;
}
.main {
  grid-area: right;
  grid-template-rows: 51px fit-content(30%);
  display: grid;
}
footer {
  grid-area: footer;
  background-color: lightgray;
}
#features {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 0;
  padding: 0;
}
#features i {
  font-size: 2em;
}
ul#features li {
  
}