@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 12% auto;
  /* grid-template-rows: 51px 30%; */
  grid-template-rows: auto 50px;
  grid-template-areas: 
    "sidebar right"
    "footer footer";
}

a {
  text-decoration: none;
}
#logo {
  padding: 15px;
  margin-left: 15px;
  text-align: center;
  font-weight: bold;
  background-color: #f3f1c7;
  color: #298383;
  display: inline-block;
}
ul {
  list-style-type: none;
  float: right;
}
header ul li {
  display: inline;
  padding: 15px;
}
header ul li a {
  color: #fff;
}
header {
  background-color: #41c7c7;
  grid-area: head;
  display: grid;
  grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}
section#hero {
  background-color: #36adad;
  padding: 2em;
  border-top: 5px solid #2ea0a0;
  grid-area: hero;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
#content h1 {
  text-transform: uppercase;
  color: #fffbc5;
}
#content p {
  color: #fff;
}
img {
  max-width: 100%;
  background-size: cover;
  margin: 0 auto;
}
#mountain {
  border-radius: 50%;
  width: 200px;
  /* height: 200px; */
}
.sidebar {
  grid-area: sidebar;
  background-color: #1c9090;
  color: #fff;
  padding: 1em;
}
.main {
  grid-area: right;
  grid-template-rows: 51px fit-content(30%) 40% auto;
  display: grid;
  grid-template-areas:
    "head"
    "hero"
    "invention"
    "features "
}
footer {
  grid-area: footer;
  background-color: lightgray;
}
#features {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px 10px;
  text-align: center;
  grid-area: features;
  /* justify-items: center; */
  /* align-items: center; */
  margin: 0;
  padding: 0;
}
#features i {
  font-size: 2em;
}
ul#features li {
  background-color: lightgray;
  padding: 1em;
  /* width: 70%; */
  align-self: start;
}
ul#features li:nth-child(2) {
  /* justify-self: end; */
  align-self: center;
}
ul#features li:nth-child(4) {
  /* justify-self: end; */
  align-self: center;
}
ul#features li p {
  color: #4c4c4c;
}
section#info {
  background-color: #f2f2f2;
  grid-area: invention;
  padding: 2em;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: space-around;
}
#mountain-vector {
  width: 200px;
  align-self: center;
}
@media screen and (max-width: 60em) {
  .sidebar {
    display: none;
  }
  body {
    grid-template-columns: auto;
    grid-template-areas: 
      "right"
      "footer";
  }
  .main {
    grid-template-areas:
      "head"
      "hero"
      "features "
      "invention"
  }
  #features {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  #features li:nth-child(5) {
    grid-column: 1 / span 2;
  }
}
@media screen and (max-width: 40em) {
  .main {
    grid-template-rows: auto fit-content(30%) 40% auto;
  }
  header {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }
  #logo {
    margin-left: 0;
  }
  nav ul {
    float: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  nav ul li a {
    width: calc(25% - 35px);
    display: inline-block;
    font-size: 0.9em;
  }
  section#hero, section#info {
    grid-template-columns: auto;
    text-align: center;
  }
  .main {
    grid-template-areas:
      "head"
      "hero"
      "invention"
      "features "
  }
  h1, h2 {
    font-size: 1.2em;
  }
  #mountain {
    width: 180px;
  }
  #content p, #content2 p {
    font-size: 0.9em;
  }
  #features {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }
  ul#features li:nth-child(2), ul#features li:nth-child(1) {
    grid-column: 1 / span 2;
  }
  footer {
    background-color: #41c7c7;
  }
  footer p {
    color: #fff;
    text-align: center;
  }
}